body {
    background-image: url("https://eventfinity-production-assets.s3.amazonaws.com/materials/743361/original/Games-Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Arial';
    height: 100%;
    width: 100%;
}

.card {
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    margin: 3% auto;
    padding: 3%;
    width: 55vw;
}

h1 {
    color: whitesmoke;
    font-family: 'Arial Black';
    margin: 3%;
    text-align: center;
}

.answer {
    margin-left: 10%;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

Input {
    height: 5vh;
    width: 65%;
}

.border {
    border-bottom: 1px solid gray;
    margin-bottom: 5%;
    padding-bottom: 5%;
}

Button {
    background-image: url(https://eventfinity-production-assets.s3.amazonaws.com/materials/686391/original/SW-TAG-21-Reg-Bkg-16x9.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    font-size: 1.5vw;
    font-weight: bold;
    height: 5vh;
    margin: 6% 40% 0% 40%;
    width: 20%;
}

#thankYou p {
    font-size: 2.5vw;
    padding: 1.5%;
    text-align: center;
}